body {
    font-size: 16px;
    color: black;
}

.slaider-img {
    display: block;
    margin-bottom: 15px;
    height: 200px;
    width: auto;
}

.slaider-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.slaider-nav__list {
    display: flex;
    list-style: none;
    justify-content: center;
}

.slaider-nav__item {
    margin: 0 15px;
    cursor: pointer;
}

.slaider-item {
    display: flex;
    flex-direction: column;
}

.slaider-item span {
    width: 100%;
    margin: 15px 0;
    font-size: 20px;
    font-weight: bold;
}

.slaider-decription {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slaider-arrow {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}