@import '../css/fonts.css';
@import '../css/normalize.css';

ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.scrollup {
    z-index: 55;
    width: 71px;
    height: 87px;
    opacity: 0.9;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    text-indent: -9999px;
    background: url('../img/up.jpg') no-repeat;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 17px;
    background-color: #ffffff;
    position: relative;
}

.group-buttons{
    display: flex;
    flex-wrap: wrap;
}

.button{
    padding: 10px 25px;
    margin: 0 10px;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 22px;
    color: #ffffff;
    background-color: transparent;
    transition: .3s;
}

.header{
    padding: 35px 0;
    
    &-logo{
        align-self: center;
        margin-right: auto;
    }
    &-menu{
        width: 100%;
    }
    &-descr{
        background: url(../img/header-bg.jpg) no-repeat center;
        background-size: cover;
        color: #ffffff;
        padding: 150px 0;
        position: relative;
        &__wrapper{
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            
        }
        &__title{
            font-size: 60px;
            line-height: 1;
            margin-bottom: 34px;
        }
        &__text{
            font-size: 22px;
            line-height: 1;
            margin-bottom: 60px;
        }
        &__button{
            width: 220px;
            &:hover{
                font-weight: bold;
                background-color: #00897b;
                border: 2px solid #00897b;
                border-radius: 15px;
            }
        }
    }
    &-arrowDown{
        position: absolute;
        left: 50%;
        bottom: 10%;
        margin-left: -12px;
        font-size: 23px;
    }
}

.top-menu{
    font-size: 20px;
    line-height: 22px;
    max-width: 750px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-end;
    align-self: center;
    &__item{
        //flex-basis: 14%;
        text-align: center;
    }
    &__link{
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        color: #212121;
        white-space: nowrap;
        display: block;
        padding: 10px 20px;
        transition: .3s;
    }
    &__link:hover{
        text-decoration: none;
    }
    &__search{
        color: #212121;
        display: block;
        margin-top: 2px;
        padding: 10px 20px;
    }
}

.section{
    padding: 130px 0;
    &-header{
        &__title{
            margin-bottom: 25px;
        }
        & p{
            margin-bottom: 60px;
        }
    }
}

.about{
    margin: 0 auto;
    &-item{
        min-width: 300px;
        text-align: center;
        padding: 10px;
        &__title{
            margin: 32px 0 18px 0;
        }
    }
    
}

.services{
    background-color: #e4fdf9;
    &-item{
        min-width: 300px;
        text-align: center;
        padding: 50px;
        background-color: #ffffff;
        margin: 15px;
        width: 300px;
        transition: .3s;
        &__title{
            margin: 32px 0 18px 0;
        }
        &__img{
            display: block;
            margin: auto auto;
            &-hidden{
                display: none;
                margin: auto auto;
            }
        }
        & p{
            margin-bottom: 40px;
        }
        &:hover{
            color: #ffffff;
            background-color: #00897b;
        }
        &:hover .services-item__img{
            display: none;
        }
        &:hover .services-item__img-hidden{
            display: block;
        }
        &:hover .services-item__button{
            color: #ffffff;
            border: 2px solid #ffffff;
        }

        &__button{
            text-transform: uppercase;
            color: #212121;
            border: 2px solid #212121;
            &:hover{
                font-weight: bold;
                border-radius: 15px;
            }
        }


    }
    
}